<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Brugt bootstrap til css og html og javascript https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->

    <!-- Impoteret fra flere cdn'er som er Content delivery network (https://en.wikipedia.org/wiki/Content_delivery_network) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">

    <!-- Jquery, er lavet af John Resig, er et libery der gør det let at selecte og lave metoder i javascript - begrænset brugt! https://code.jquery.com/ -->
    <script src="http://oss.maxcdn.com/jquery/1.11.1/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Grunden til man ikke skulle bruge en cdn er at man ikke har 100% kontrol over af den fil man henter fra cdn'en, men hoster de liberies der er almindelig brugt -->


    <title>AR225</title>
</head>
<body>
<!-- Basis strukturen for hvordan html virker - https://www.semrush.com/blog/semantic-html5-guide/?fbclid=IwAR2sZydnoMLXKhdZ8nxF9rnOxbsHG-1gQ0hORz9qc3gez1GQvdAqHG12wfE

<header>
    <nav class="navigation__main">
        <ul>
            <li><span>AR225</span>
            <li><span>AR226</span></li>
        </ul>
    </nav>
</header>
-->

<main>
    <article>
        <section>
            <!-- Det er denne formular der er genskabt med undtagelse af underskriftfelterne - https://danskeakasser.dk/files/media/blanketter/AR225.pdf -->
            <h3> Husk at læse vejledningen i bunden, før du udfylder blanketten! </h3>
            <form method="post"
                    id="meetingForm" class="form-horizontal"
                  data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

                <!-- Year begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">År</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Year" placeholder="YYYY"
                               pattern="^\d{4}$"
                               data-bv-regexp-message="The year is invalid - must be between 1900 and current year" required />
                    </div>
                </div>
                <!-- Year end -->

                <!-- CPR begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">CPR-nummer</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="SocialSecurityNumber" placeholder="ddmmyy-####"
                               pattern="^(?:(?:31(?:0[13578]|1[02])|(?:30|29)(?:0[13-9]|1[0-2])|(?:0[1-9]|1[0-9]|2[0-8])(?:0[1-9]|1[0-2]))[0-9]{2}-?[0-9]|290200-?[4-9]|2902(?:(?!00)[02468][048]|[13579][26])-?[0-3])[0-9]{3}|000000-?0000$^(?:(?:31(?:0[13578]|1[02])|(?:30|29)(?:0[13-9]|1[0-2])|(?:0[1-9]|1[0-9]|2[0-8])(?:0[1-9]|1[0-2]))[0-9]{2}-?[0-9]|290200-?[4-9]|2902(?:(?!00)[02468][048]|[13579][26])-?[0-3])[0-9]{3}|000000-?0000$"
                               data-bv-regexp-message="The social security number is invalid - must be valid!" required />
                    </div>
                </div>
                <!-- CPR end -->

                <p>
                <h4> Udfyldes af medlemmet </h4>
                </p>

                <!-- Name begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Navn</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Name" placeholder="Jon Doe | Jane Doe"
                               pattern="^[a-zA-Z0-9]+$"
                               data-bv-regexp-message="The name is invalid - must be an alphanumeric" required />
                    </div>
                </div>
                <!-- Name end -->

                <!-- Company Name begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Virksomhedens navn</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="CompanyName" placeholder="Virksomhedens navn"
                               pattern="^[a-zA-Z0-9]+$"
                               data-bv-regexp-message="The Company Name is invalid - must be an alphanumeric" required />
                    </div>
                </div>
                <!-- Company Name end -->

                <!-- Financial Year From begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Virksomhedens regnskabsår fra</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="FinancialYearFrom" placeholder="dd-mm-yyyy"
                               pattern="^\d{2}-\d{2}-\d{4}$"
                               data-bv-regexp-message="The Financial Year From is invalid - must be a date" required />
                    </div>
                </div>
                <!-- Financial Year From end -->

                <!-- Financial Year To begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Virksomhedens regnskabsår til</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="FinancialYearTo" placeholder="dd-mm-yyyy"
                               pattern="^\d{2}-\d{2}-\d{4}$"
                               data-bv-regexp-message="The Financial Year To is invalid - must be a date" required />
                    </div>
                </div>
                <!-- Financial Year To end -->

                <!-- Revenue begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Virksomhedens nettoomsætning</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="Revenue" placeholder="Beløb i kr."
                               pattern="^[+-]?[0-9]{1,3}(?:[0-9]*(?:[.,][0-9]{2})?|(?:,[0-9]{3})*(?:\.[0-9]{2})?|(?:\.[0-9]{3})*(?:,[0-9]{2})?)$"
                               data-bv-regexp-message="The Revenue is invalid - must be in European-style notation (example: 123.456,78)" required />
                    </div>
                </div>
                <!-- Revenue end -->

                <!-- Cost of Sales begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Virksomhedens vareforbrug</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="CostOfSales" placeholder="Vareforbrug i kr."
                               pattern="^[+-]?[0-9]{1,3}(?:[0-9]*(?:[.,][0-9]{2})?|(?:,[0-9]{3})*(?:\.[0-9]{2})?|(?:\.[0-9]{3})*(?:,[0-9]{2})?)$"
                               data-bv-regexp-message="The Cost of Sales is invalid - must be in European-style notation (example: 123.456,78)" required />
                    </div>
                </div>
                <!-- Cost of Sales end -->

                <!-- Contribution Margin begin -->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Virksomhedens dækningsbidrag 1</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="ContributionMargin" placeholder="Dækningsbidrag 1 i kr."
                               pattern="^[+-]?[0-9]{1,3}(?:[0-9]*(?:[.,][0-9]{2})?|(?:,[0-9]{3})*(?:\.[0-9]{2})?|(?:\.[0-9]{3})*(?:,[0-9]{2})?)$"
                               data-bv-regexp-message="The Contribution Margin is invalid - must be in European-style notation (example: 123.456,78)" required />
                    </div>
                </div>
                <!-- Contribution Margin end -->

                <!-- Tro og Love begin -->
                <div class="form-group">
                    <h3> Underskrift på tro og love udføres ikke her, da dette skal gøres med digital signatur eller efter udprintning!
                    </h3>
                </div>
                <!-- Tro og Love -->

                <p>
                <h4> Statsautoriseret eller registreret revisors attestation </h4>
                </p>

                <!-- Hvordan får jeg det her til at skulle udfyldes og ikke bare hoppe over??? - Løst med required-->
                <!-- Det udførte arbejde (skal altid udfyldes) begin -->
                <div class="form-group">
                    <label class="col-sm-5 control-label">Det udførte arbejde (skal altid udfyldes)</label>
                    <div class="col-sm-4">
                        <textarea rows="4" cols="50" class="form-control" name="Work" placeholder="tekst" required ></textarea>
                    </div>
                </div>
                <!-- Det udførte arbejde (skal altid udfyldes) end -->

                <!-- Eventuelle supplerende oplysninger begin -->
                <div class="form-group">
                    <label class="col-sm-5 control-label">Eventuelle supplerende oplysninger som revisor skal afgive i henhold til bekendtgørelse om statsautoriserede og
                        registrerede revisorers erklæringer mv.</label>
                    <div class="col-sm-4">
                        <textarea rows="4" cols="50" class="form-control" name="Evaluation" placeholder="tekst"></textarea>
                    </div>
                </div>
                <!-- Eventuelle supplerende oplysninger end -->


                <!-- From Revicer begin -->
                <div class="form-group">
                    <h3> Underskrift fra revicer udføres ikke her, da dette skal gøres med digital signatur eller efter udprintning!
                    </h3>
                </div>
                <!-- From Revicer end -->

                <!-- Submitknappen start -->
                <div class="servervalidation"></div>
                <input class="btn btn-primary js-submit" type="submit" value="Submit">
                <!-- Submitknappen slut -->

            </form>
        </section>
        <aside>
            <!-- Vejledning -->
            <div class="form-group">
                <p><h3> Vejledning </h3></p>
                <p>
                    Skemaet skal være modtaget i a-kassen senest 3
                    måneder efter regnskabsårets afslutning.
                </p>
                <p> Begrebet virksomhedens "dækningsbidrag 1" er det
                    regnskabstekniske begreb dækningsbidrag 1. Det vil
                    sige, at virksomhedens nettoomsætning, jf.
                    årsregnskabsloven, fratrækkes det vareforbrug, som
                    kan henføres direkte til varesalget. Øvrige variable
                    omkostninger som fx salgs- og administrationsomkostninger kan ikke opgøres som en del af
                    vareforbruget.
                </p>
                <p>
                    Bortforpagtningsafgift skal ikke indgå i opgørelsen af
                    dækningsbidrag 1. Dette skyldes, at indtægt fra
                    bortforpagtning ikke hidrører fra selskabets primære
                    drift.
                </p>
                <p>
                    Oplysningerne i skemaet skal være attesteret af en
                    registreret revisor eller en statsautoriseret revisor, jf.
                    bekendtgørelse nr. 1421 om selvstændig virksomhed
                    samtidig med efterløn.
                </p>
                <p>
                    Opmærksomheden henledes på, at hvis revisor skal
                    tage forbehold i sin erklæring efter reglerne i
                    bekendtgørelse om statsautoriserede og registrerede
                    revisorers erklæringer, kan attestationen ikke
                    anerkendes, og blanketten er derfor uanvendelig.
                </p>
                <p>
                    Har virksomheden haft en nettoomsætning der er
                    mindre end indtægtsgrænsen for dækningsbidrag 1 i
                    det aktuelle år (i år 2016: 75.978 kr.), kan revisor
                    undlade at opgøre dækningsbidrag 1. Revisor skal da
                    blot attestere, at det oplyste nettoomsætningsbeløb er
                    korrekt.
                </p>
                <p>
                    A-kassen kan oplyse dig om, hvad indtægtsgrænsen
                    for dækningsbidrag 1 er i det aktuelle år. A-kassen
                    kan også give dig eksempler på, hvordan
                    dækningsbidrag 1 beregnes.
                </p>

                <h4> Underskrift </h4>

                <p>
                    Husk dato og underskrift. Bemærk, at du skriver
                    under på tro og love. Oplysninger, der viser sig at
                    være urigtige, kan medføre krav om tilbagebetaling
                    af efterløn og tab af rettigheder. Det står i § 86, stk.
                    1, 2 og 12, og § 87, stk. 1 og 2, i lov om arbejdsløsløshedsforsikring m.v. Du kan også blive meldt til politiet.

                </p>

                <h4> Kontrol og anden information </h4>

                <p>
                    De oplysninger, som du giver på denne blanket, vil
                    blive kontrolleret. Det kan fx ske ved hjælp af
                    oplysninger fra arbejdsgivere og myndigheder.
                    Kontrol kan også ske ved registersamkøring.
                </p>
                <p>
                    I henhold til persondataloven skal det oplyses, at
                </p>
                <ul>
                    <li>- a-kassen kan indhente oplysninger fra
                    din arbejdsgiver til brug for afklaring af dine
                        rettigheder og pligter,</li>

                    <li>- a-kassen registrerer modtagne oplysnin-
                    ger,</li>

                    <li>- a-kassen kan i kontroløjemed benytte oplysnin-
                    ger i a-kassen og SKAT's indkomstregister til
                    registersamkøring,</li>

                    <li>- du har ret til at få at vide, hvilke oplysninger
                    a-kassen registrerer om dig, og</li>

                    <li>- du kan kræve forkerte oplysninger rettet.</li></ul>

                <h3> Er du i tvivl? - Spørg a-kassen </h3>
            </div>
            <!-- From Vejledning end -->
        </aside>
    </article>
</main>

<!-- START Bootstrap-Cookie-Alert -->
<div class="alert text-center cookiealert" role="alert">
    <b>Do you like cookies?</b> &#x1F36A; We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

    <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
        I agree
    </button>
</div>
<!-- END Bootstrap-Cookie-Alert -->

<!-- Impoteret fra flere cdn'er som er Content delivery network (https://en.wikipedia.org/wiki/Content_delivery_network) -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

<!-- Validering i javascript i samarbejde med bootstrap http://bootstrapvalidator.votintsev.ru/validators/regexp/ -->
<script src="http://oss.maxcdn.com/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
<script type="text/javascript">
    //Bootstrap med javascript til at validere på clientsiden
    $(document).ready(function() {
        $('#meetingForm').bootstrapValidator();
    });

    //Hvad der skal ske når submitknappen bliver klikket på. Hvis handlermetoden @PostMapping("AR225/validate") er tom, erstater den bodyen med "Success!".
    //Hvis handlermetoden @PostMapping("AR225/validate") har noget i sig, er valideringen på  clientsiden gået galt og serversiden smider tilbage hvilket felt,
    //der har forkert input. Den lader sidens fyldte felter stå, men skriver over submitknappen hvad for et felt der har forkert input.
    $(".js-submit").click(function(event){
        event.preventDefault();
        $.post( "AR225/validate", $( "#meetingForm" ).serialize(), function()

        {
            $("body").html("Success!");
        })
            .fail(function(xhr)
            {
                $(".servervalidation").html(xhr.responseText);
            });
    });
</script>

</body>
</html>